@import '../../style/main';

$address-popup-width: 500px;
$address-popup-height: 650px;

.post-code {
  @include size;
  @include fixed;
  z-index: 2;

  &__mask {
    @include size;
    @include fixed;
    background-color: rgba(0, 0, 0, 0.7);
  }
  &__popup {
    width: $address-popup-width;
    height: $address-popup-height;
    position: absolute;
    top: calc((100vh - #{$address-popup-height}) / 2);
    left: calc((100% - #{$address-popup-width}) / 2);
    z-index: 3;

    &__header {
      @include flex($jc: space-between, $ai: center);
      padding: 0 10px;
      color: #fff;
      background: $pt-gray;

      &__btn {
        font-size: 2rem;
        cursor: pointer;
      }
    }

    &__body {
      height: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .post-code {
    &__mask {
      display: none;
    }
    &__popup {
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
    }
  }
}
