@import '../../style/main';

input[type='date'] {
  &:required:invalid::-webkit-datetime-edit {
    color: transparent;
  }
  &:focus::-webkit-datetime-edit {
    color: $pt-gray !important;
  }
}

.input_underline {
  margin: auto 0;
  display: block;
  background: #fff;
  width: 100%;

  &:nth-child(2) {
    margin: {
      left: 30px;
    }
  }
  &__wrapper {
    position: relative;
    margin: {
      bottom: 45px;
    }
  }

  &__input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $pt-gray;
    color: $pt-gray;
  }

  /* LABEL ======================================= */
  &__label {
    color: #999;
    font: {
      size: 18px;
      weight: normal;
    }
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  /* active state */
  &__input:focus ~ &__label,
  &__input:valid ~ &__label {
    top: -20px;
    font-size: 14px;
    color: $pt-yellow;
  }

  /* BOTTOM BARS ================================= */
  &__bar {
    position: relative;
    display: block;
    width: 100%;

    &::before,
    &::after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $pt-yellow;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &::before {
      left: 50%;
    }
    &::after {
      right: 50%;
    }
  }

  /* active state */
  &__input:focus ~ &__bar::before,
  &__input:focus ~ &__bar::after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  &__highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  &__input:focus ~ &__highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: $pt-yellow;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: $pt-yellow;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: $pt-yellow;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@media screen and (max-width: 768px) {
  .input_underline {
    &__wrapper {
      margin: {
        right: 0;
      }
    }
  }
}
