$gap: 10px;

@mixin input-transition() {
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input {
  &[type='date'] {
    &:required:invalid::-webkit-datetime-edit {
      color: transparent;
    }
    &:focus::-webkit-datetime-edit {
      color: $pt-gray-6 !important;
    }
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.input_underline {
  margin: auto 0;
  display: block;
  background: #fff;
  width: 100%;

  &:nth-child(2) {
    margin: {
      left: $gap * 3;
    }
  }
  &__wrapper {
    position: relative;
    margin: {
      bottom: 45px;
    }
  }

  &__input {
    font-size: 18px;
    padding: $gap $gap $gap $gap / 2;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $pt-gray-6;
    color: $pt-gray-6;
    &:focus {
      border: none;
    }
  }

  /* LABEL ======================================= */
  &__label {
    color: #999;
    font: {
      size: 18px;
      weight: normal;
    }
    position: absolute;
    pointer-events: none;
    left: $gap / 2;
    top: $gap;
    @include input-transition;
  }

  /* active state */
  &__input:focus ~ &__label,
  &__input:valid ~ &__label {
    top: -2 * $gap;
    font-size: 14px;
    color: $pt-yellow-6;
  }

  /* BOTTOM BARS ================================= */
  &__bar {
    position: relative;
    display: block;
    width: 100%;

    &::before,
    &::after {
      content: '';
      @include size(0, 2px);
      @include input-transition;
      bottom: 1px;
      position: absolute;
      background: $pt-yellow-6;
    }
    &::before {
      left: 50%;
    }
    &::after {
      right: 50%;
    }
  }

  /* active state */
  &__input:focus ~ &__bar::before,
  &__input:focus ~ &__bar::after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  &__highlight {
    position: absolute;
    @include size(100px, 60%);
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  &__input:focus ~ &__highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  &__error {
    @include form-validation;
  }
}

@keyframes inputInvalid {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: $pt-yellow-6;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: $pt-yellow-6;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: $pt-yellow-6;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@media screen and (max-width: 768px) {
  .input_underline {
    &__wrapper {
      margin: {
        right: 0;
      }
    }
    &:nth-child(2) {
      margin: {
        left: 0;
      }
    }

    &__label {
      font-size: 16px;
    }
  }
}
