.common {
  &__btn {
    @include flex(row, center, center);
    @include size(150px, 50px);
    background-color: $pt-yellow;
    color: $pt-gray;
    padding: 10px 15px;
    border-radius: 5px;

    &--left,
    &--right {
      font-size: 18px;
      font-weight: 700;
    }

    &--left {
      margin-right: 10px;
    }

    &--right {
      margin-left: 10px;
    }
  }
  &__text {
    @include flex(row, center, center);
    @include size();
    border-right: none;
    border-left: 2px solid $pt-gray;

    &--right {
      @include flex(row, flex-start, center);
      border-right: 2px solid $pt-gray;
      border-left: none;
    }
    &--left {
      @include flex(row, flex-end, center);
    }
  }
}
