* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

