@import '../../style/main';

.event_button {
  @include size(190px, 50px);
  border-radius: 5px;
  font-size: 18px;
  margin: {
    top: 0;
    right: 10px;
    bottom: 10px;
    left: 0;
  }

  &--yellow {
    background-color: $pt-yellow;
    color: $pt-gray;
  }
  &--gray {
    background-color: $pt-gray;
    color: $pt-yellow;
  }
}
