@import '../../style/main';

.event_button {
  @include size(200px, 50px);
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 10px;

  &--yellow {
    background-color: $pt-yellow;
    color: $pt-gray;
  }
  &--gray {
    background-color: $pt-gray;
    color: $pt-yellow;
  }
}
