.event_button {
  @include size(190px, 50px);
  border-radius: 5px;
  font-size: 1rem;
  margin: {
    top: 0;
    right: 10px;
    bottom: 10px;
    left: 0;
  }

  &--yellow {
    background-color: $pt-yellow-5;
    color: $pt-gray-6;
  }
  &--gray {
    background-color: $pt-gray-6;
    color: $pt-yellow-5;
  }
}
