// PantoneColor
$pt-yellow-1: #fffde7;
$pt-yellow-2: #fff9c4;
$pt-yellow-3: #fff59d;
$pt-yellow-4: #fff176;
$pt-yellow-5: #ffee58;
$pt-yellow-6: #f5df4d;
$pt-yellow-7: #fdd835;

$pt-gray-1: #fafafa;
$pt-gray-2: #f5f5f5;
$pt-gray-3: #eeeeee;
$pt-gray-4: #e0e0e0;
$pt-gray-5: #bdbdbd;
$pt-gray-6: #939597;
$pt-gray-7: #757575;
$pt-gray-8: #616161;
$pt-gray-9: #424242;
