@mixin flex($dir: row, $jc: flex-start, $ai: flex-start) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}

@mixin size($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}

@mixin card($w: 500px, $h: 700px, $padding: 40px, $margin: 10vh auto 0) {
  box-shadow: 2px 2px 20px 10px rgb(0 0 0 / 40%);
  width: $w;
  height: $h;
  margin: $margin;
  padding: $padding;
  border-radius: 5px;
}

@mixin fixed($top: 0, $left: 0) {
  position: fixed;
  top: $top;
  left: $left;
}
