@import './common/root.scss';
@import './common/color.scss';
@import './common/mixin.scss';

.home {
  &__container {
    @include flex(row);
    @include size(100vw, 100vh);
  }

  &__aside {
    @include flex(row, flex-start, center);
    @include size(55%);
  }

  &__section {
    @include flex(column, space-around, center);
    @include size(45%);
    padding: 50px;
    background-color: #1d1d1d;

    &__btn-container {
      @include flex(column, space-between, center);
      @include size(100%, 115px);
    }
  }

  &__greeting {
    color: #fff;
  }

  &__title {
    font: {
      family: 'D2 Coding Bold';
      size: 5rem;
    }
    margin: 0 auto;
    text-shadow: 3px 3px 10px $pt-gray;
  }

  &__subtitle {
    font: {
      size: 2rem;
    }
    margin: 0 0 5px;
  }

  &__description {
    font: {
      family: 'D2 Coding';
    }
  }

  &__img {
    @include size();
    &--mobile {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    &__container {
      @include flex(column, flex-start, center);
    }

    &__aside {
      @include size(100%, 70%);
      @at-root .home__img {
        display: none;
        &--mobile {
          display: inline-block;
          margin: 0 auto;
        }
      }
    }

    &__greeting {
      display: none;
    }

    &__section {
      @include size(unset, unset);
      background-color: #fff;

      &__btn--right-arrow {
        padding: 20px 30px;
        background-color: $pt-yellow;
        color: $pt-gray;
      }
    }
  }
}
